{
  fuuu = (":fuuu");
  yuno = (":yuno");
  sd = (":sd");
  t = (":t");
  lol = (":lol");
  gtfo = (":gtfo");
  ca = (":ca");
  fyea = (":fyea");
  fa = (":fa");
  mg = (":mg");
  ay = (":ay");
  sh = (":sh");
  ok = (":ok");
  high = (":high");
  m = (":m");
  cereal = (":cereal");
  spit = (":spit");
  act = (":act");
  aint = (":aint");
  baby = (":baby");
  baww = (":baww");
  grin = (":grin");
  ce = (":ce");
  determined = (":determined");
  disgust = (":disgust");
  down = (":down");
  dude = (":dude");
  ewbte = (":ewbte");
  et = (":et");
  fap = (":fap");
  fg = (":fg");
  friends = (":friends");
  fff = (":fff");
  gasp = (":gasp");
  gay = (":gay");
  happy = (":happy");
  hehehe = (":hehehe");
  herp = (":herp");
  disappoint = (":disappoint");
  notok = (":notok");
  mad = (":mad");
  milk = (":milk");
  mouthopen = (":mouthopen");
  np = (":np");
  newstear = (":newstear");
  no = (":no");
  ohno = (":ohno");
  openmouth = (":openmouth");
  pff = (":pff");
  pickle = (":pickle");
  poker = (":poker");
  rage = (":rage");
  redeyes = (":redeyes");
  dog = (":dog");
  sadm = (":sadm");
  st = (":st");
  side = (":side");
  win = (":win");
  susp = (":susp");
  sw = (":sw");
  th = (":th");
  tongue = (":tongue");
  tdad = (":tdad");
  ub = (":ub");
  up = (":up");
  wasted = (":wasted");
  what = (":what");
  why = (":why");
  wut = (":wut");
  yao = (":yao");
  yam = (":yam");
  lod = (":lod");
  dance = (":dance");
  awesome = (":awesome");
  datash = (":datash");
  lie = (":lie");
  truestory = (":truestory");
  expect = (":expect");
  jackie = (":jackie");
  scumbag = (":scumbag");
  derp = (":derp");
  smirk = (":smirk");
  cochran = (":cochran");
}
