{
  act = (":act");
  awesome = (":awesome");
  ay = (":ay");
  baby = (":baby");
  badpoker = (":badpoker");
  baww = (":baww");
  grin = (":grin");
  cereal = (":cereal");
  spit = (":spit");
  ca = (":ca");
  ce = (":ce");
  cochran = (":cochran");
  dance = (":dance");
  datash = (":datash");
  derp = (":derp");
  determined = (":determined");
  disgust = (":disgust");
  down = (":down");
  dude = (":dude");
  ewbte = (":ewbte");
  et = (":et");
  fal = (":fal");
  fap = (":fap");
  fg = (":fg");
  fuuu = (":fuuu");
  fa = (":fa");
  friends = (":friends");
  rich = (":rich");
  fyea = (":fyea");
  fff = (":fff");
  fum = (":fum");
  gasp = (":gasp");
  gay = (":gay");
  gtfo = (":gtfo");
  happy = (":happy");
  hehehe = (":hehehe");
  herp = (":herp");
  high = (":high");
  he = (":he");
  disappoint = (":disappoint");
  notok = (":notok");
  jc = (":jc");
  kidding = (":kidding");
  lie = (":lie");
  lod = (":lod");
  lol = (":lol");
  mad = (":mad");
  mg = (":mg");
  m = (":m");
  milk = (":milk");
  mouthopen = (":mouthopen");
  np = (":np");
  newstear = (":newstear");
  no = (":no");
  notbad = (":notbad");
  ohno = (":ohno");
  ok = (":ok");
  openmouth = (":openmouth");
  pff = (":pff");
  pickle = (":pickle");
  poker = (":poker");
  t = (":t");
  racket = (":racket");
  rage = (":rage");
  redeyes = (":redeyes");
  sadm = (":sadm");
  st = (":st");
  sh = (":sh");
  side = (":side");
  smirk = (":smirk");
  win = (":win");
  sd = (":sd");
  steve = (":steve");
  stfi = (":stfi");
  susp = (":susp");
  tdadjump = (":tdadjump");
  th = (":th");
  tongue = (":tongue");
  tdad = (":tdad");
  ts = (":ts");
  ub = (":ub");
  up = (":up");
  wasted = (":wasted");
  water = (":water");
  what = (":what");
  why = (":why");
  wut = (":wut");
  yam = (":yam");
  yao = (":yao");
  yuno = (":yuno");
  all = (":all");
  flip = (":flip");
  god = (":god");
  impossibru = (":impossibru");
  badass = (":badass");
  picard = (":picard");
  ogw = (":ogw");
  aliens = (":aliens");
}
