(
  {name = ":act"; image = "actually.png"; insert = ":act";},
  {name = ":awesome"; image = "awesome.png"; insert = ":awesome";},
  {name = ":ay"; image = "awyeah.png"; insert = ":ay";},
  {name = ":baby"; image = "babytroll.png"; insert = ":baby";},
  {name = ":badpoker"; image = "badpokerface.png"; insert = ":badpoker";},
  {name = ":baww"; image = "baww.png"; insert = ":baww";},
  {name = ":grin"; image = "biggrin.png"; insert = ":grin";},
  {name = ":cereal"; image = "cereal.png"; insert = ":cereal";},
  {name = ":spit"; image = "cerealspitting.png"; insert = ":spit";},
  {name = ":ca"; image = "challengeaccepted.png"; insert = ":ca";},
  {name = ":ce"; image = "closeenough.png"; insert = ":ce";},
  {name = ":cochran"; image = "cochran.gif"; insert = ":cochran";},
  {name = ":dance"; image = "dance.gif"; insert = ":dance";},
  {name = ":datash"; image = "datash.jpg"; insert = ":datash";},
  {name = ":derp"; image = "derp.png"; insert = ":derp";},
  {name = ":determined"; image = "determined.png"; insert = ":determined";},
  {name = ":disgust"; image = "disgusted.png"; insert = ":disgust";},
  {name = ":down"; image = "down.png"; insert = ":down";},
  {name = ":dude"; image = "dudecomeon.png"; insert = ":dude";},
  {name = ":ewbte"; image = "ewbte.png"; insert = ":ewbte";},
  {name = ":et"; image = "excitedtroll.png"; insert = ":et";},
  {name = ":fal"; image = "falbulous.gif"; insert = ":fal";},
  {name = ":fap"; image = "fapfap.png"; insert = ":fap";},
  {name = ":fg"; image = "feelsgood.png"; insert = ":fg";},
  {name = ":fuuu"; image = "fffuuu.png"; insert = ":fuuu";},
  {name = ":fa"; image = "foreveralone.png"; insert = ":fa";},
  {name = ":friends"; image = "friends.png"; insert = ":friends";},
  {name = ":rich"; image = "fu.png"; insert = ":rich";},
  {name = ":fyea"; image = "fuckyea.png"; insert = ":fyea";},
  {name = ":fff"; image = "fullpanel.png"; insert = ":fff";},
  {name = ":fum"; image = "fumanchu.jpg"; insert = ":fum";},
  {name = ":gasp"; image = "gasp.png"; insert = ":gasp";},
  {name = ":gay"; image = "gaytroll.png"; insert = ":gay";},
  {name = ":gtfo"; image = "gtfo.png"; insert = ":gtfo";},
  {name = ":happy"; image = "happy.png"; insert = ":happy";},
  {name = ":hehehe"; image = "hehehe.png"; insert = ":hehehe";},
  {name = ":herp"; image = "herpderp.png"; insert = ":herp";},
  {name = ":high"; image = "high.png"; insert = ":high";},
  {name = ":he"; image = "highexpectations.jpg"; insert = ":he";},
  {name = ":disappoint"; image = "iamdisappointed.png"; insert = ":disappoint";},
  {name = ":notok"; image = "itsnotokay.png"; insert = ":notok";},
  {name = ":jc"; image = "jackiechan.jpg"; insert = ":jc";},
  {name = ":kidding"; image = "kidding.png"; insert = ":kidding";},
  {name = ":lie"; image = "lied.png"; insert = ":lie";},
  {name = ":lod"; image = "lod.jpg"; insert = ":lod";},
  {name = ":lol"; image = "lolnotext.png"; insert = ":lol";},
  {name = ":mad"; image = "mad.png"; insert = ":mad";},
  {name = ":mg"; image = "megusta.png"; insert = ":mg";},
  {name = ":m"; image = "melvin.png"; insert = ":m";},
  {name = ":milk"; image = "milk.png"; insert = ":milk";},
  {name = ":mouthopen"; image = "mouthopen.png"; insert = ":mouthopen";},
  {name = ":np"; image = "newspaperguy.png"; insert = ":np";},
  {name = ":newstear"; image = "newspaperguytear.png"; insert = ":newstear";},
  {name = ":no"; image = "no.png"; insert = ":no";},
  {name = ":notbad"; image = "notbad.jpg"; insert = ":notbad";},
  {name = ":ohno"; image = "ohno.png"; insert = ":ohno";},
  {name = ":ok"; image = "okay.png"; insert = ":ok";},
  {name = ":openmouth"; image = "openmouth.png"; insert = ":openmouth";},
  {name = ":pff"; image = "pffftcchchchhfffttt.png"; insert = ":pff";},
  {name = ":pickle"; image = "pickle.png"; insert = ":pickle";},
  {name = ":poker"; image = "pokerface.png"; insert = ":poker";},
  {name = ":t"; image = "problem.png"; insert = ":t";},
  {name = ":racket"; image = "racket.jpg"; insert = ":racket";},
  {name = ":rage"; image = "rage2.png"; insert = ":rage";},
  {name = ":redeyes"; image = "redeyes.png"; insert = ":redeyes";},
  {name = ":sadm"; image = "sadmelvin.png"; insert = ":sadm";},
  {name = ":st"; image = "sadtroll.png"; insert = ":st";},
  {name = ":sh"; image = "shocked.png"; insert = ":sh";},
  {name = ":side"; image = "sidemouth.png"; insert = ":side";},
  {name = ":smirk"; image = "smirk.jpg"; insert = ":smirk";},
  {name = ":win"; image = "somuchwin.png"; insert = ":win";},
  {name = ":sd"; image = "staredad.png"; insert = ":sd";},
  {name = ":steve"; image = "steve.jpg"; insert = ":steve";},
  {name = ":stfi"; image = "stfi.jpg"; insert = ":stfi";},
  {name = ":susp"; image = "suspicious.png"; insert = ":susp";},
  {name = ":tdadjump"; image = "tdadjump.png"; insert = ":tdadjump";},
  {name = ":th"; image = "thoughtful.png"; insert = ":th";},
  {name = ":tongue"; image = "tongue.png"; insert = ":tongue";},
  {name = ":tdad"; image = "trolldad.png"; insert = ":tdad";},
  {name = ":ts"; image = "truestory.png"; insert = ":ts";},
  {name = ":ub"; image = "underbite.png"; insert = ":ub";},
  {name = ":up"; image = "upvote.png"; insert = ":up";},
  {name = ":wasted"; image = "wasted.png"; insert = ":wasted";},
  {name = ":water"; image = "waterbottle.jpg"; insert = ":water";},
  {name = ":what"; image = "what.png"; insert = ":what";},
  {name = ":why"; image = "whywithhands.png"; insert = ":why";},
  {name = ":wut"; image = "wut.png"; insert = ":wut";},
  {name = ":yam"; image = "yam.png"; insert = ":yam";},
  {name = ":yao"; image = "yaoming.png"; insert = ":yao";},
  {name = ":yuno"; image = "yuno.png"; insert = ":yuno";},
  {name = ":all"; image = "all.png"; insert = ":all";},
  {name = ":flip"; image = "flip.png"; insert = ":flip";},
  {name = ":god"; image = "god.png"; insert = ":god";},
  {name = ":impossibru"; image = "impossibru.png"; insert = ":impossibru";},
  {name = ":badass"; image = "badass.png"; insert = ":badass";},
  {name = ":picard"; image = "picard.png"; insert = ":picard";},
  {name = ":ogw"; image = "ogw.png"; insert = ":ogw";},
  {name = ":aliens"; image = "aliens.jpg"; insert = ":aliens";},
)
